@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
	background-color: #dcdcdc;		
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}
h1 {
	font-size: 40px;
	text-transform: uppercase;
}

.title-and-close {
	display: flex;
	align-items: center;	
	border-bottom: 1px solid #696969;	
}

.close-icon {
	position: absolute;
	cursor: pointer;
	width: 60px;
	height: 60px;	
	right: 0px;		
	background: url("../Images/close.png") no-repeat;
	background-size: 60px;
}

.flex-container__filter-block {
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.flex-container__inputs-to-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	justify-content: space-between;
}

input[type="number"], input[type="text"]{	
	width: 47%;	
	height: 70px;
	font-size: 40px;
}

input[type="checkbox"], input[type="radio"]{
	transform: scale(3.5);
	width: 45px;
}

#searchPhones {
	background-color: #ff8c00;
	color: #ffffff;
	border-width: 0px;
	width: 100%;
	height: 85px;
	border-radius: 10px;	
	font-size: 45px;
	position: fixed;
	bottom: 0px;	
}