@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
	background-color: #eee8aa;		
	font-family: 'Roboto', sans-serif;
	overflow: hidden;	
	margin: 0px;
	position: relative;
	bottom: 20px;
}

@media screen and (min-device-width: 769px) {

	#filter, .phone-container__result-tools-for-mobile-version{
		display: none;
	}

	.flex-container__filter-phones{
		display: flex;
	}

	.phone-container__result-tools {
		display: flex;
		padding-left: 30px;
	}

	.phone-container__price, .phone-container__mobileName {
		font-size: 20px;
	}	

	.phonePhoto {
		border-radius: 15px;
		height: 220px;	
		width: 125px;
	}

	[name="inStock"], [name="notAvailable"] {
		font-size: 20px;								
	}

	.phone-container__toBasket {	
		border-radius: 7px;	
		height: 30px;
		width: 150px;
		font-size: 16px;
		cursor: pointer;	
	}
}

@media screen and (max-device-width: 768px) {

	#title {
		font-size: 40px;
	}

	.phonePhoto {
		height: 350px;
		border-radius: 25px;
		width: 200px;		
	}

	.photo {
		margin-right: 40px;
	}

	.phone-container__result-tools-for-mobile-version {
		display: flex;
		flex-direction: column;		
	}

	.phone-container__price, .phone-container__mobileName {
		font-size: 30px;
	}	

	[name="inStock"], [name="notAvailable"] {
		font-size: 25px;		
		margin-top: 40px;				
	}

	.phone-container__result_attrs {
		display: none;
	}

	.phone-container__result-tools {
		display: none;
		padding-left: 0px;
	}

	.phone-container__toBasket {
		border-radius: 7px;		
		height: 50px;
		width: 200px;
		font-size: 25px;			
	}	

	.flex-container__filter-phones {    
		display: none;
	}

	.title-and-filter-button {
		display: flex;
	  	align-items: center;
	  	margin-left: 40px;
	}		
}

a {
	cursor: pointer;
}

#filter{	
	position: absolute;
	right: 15px;
	border-radius: 7px;
	background-color: #808080;
	color: #ffffff;
	text-decoration: none;	
	padding: 10px 35px;	
	font-size: 25px;
}

#title{
	color: #a52a2a;
	font-family: 'Oswald', sans-serif;
}

.flex-container{
	display: flex;
}

.flex-container__filter-phones{
	background-color: #d3d3d3;
	border-radius: 10px;
	width: 250px;	
	justify-content: center;
}

.phone-container__model-list li{	
	list-style-type: none;		
	border-width: 0px 0px 1px;
	border-style: dotted;	
	border-color: #808080;
}

.phone-container__model-list li:first-child{		
	border-top-width: 1px;	
}

.flex-container__filter-block {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.flex-container__inputs-to-row {
	flex-direction: row;
	margin-bottom: 20px;
}

.flex-container__inputs-to-row-diagonal {
	flex-direction: row;	
}

:focus {
  outline: 0;
}

input[type=radio] {
	position: relative;
	right: 4px;
	cursor: pointer;
	transform: scale(1.5);
}

input[type=checkbox] {
	cursor: pointer;
	display: none;
}

.flex-container__checkbox-style {
	display: block;  
	 position: relative;
  	padding-left: 25px;
  	margin-bottom: 12px;
  	cursor: pointer;  		
  	cursor: pointer;
  	font-size: 16px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;  	
}

.flex-container__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #e6e6e6;
  border-radius: 5px;
  border: 1px #a6a6a6 solid;
   
}

.flex-container__checkbox-style:hover input ~ .flex-container__checkmark {
  background-color: #ccc;
}


.flex-container__checkbox-style input:checked ~ .flex-container__checkmark {
  background-color: #ff8c00;
}

.flex-container__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.flex-container__checkbox-style input:checked ~ .flex-container__checkmark:after, 
.flex-container__checkbox-style:hover input ~ .flex-container__checkmark:after   {
  display: block;
}

.flex-container__checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);  
}

.flex-container__filter-block-option-title {
	font-weight: 600;	
}

.flex-container__input-gap {	
	width: 90px;
	height: 22px;
	font-size: 15px;
}

#wordsPhoneName {
	width: 187px;
	height: 22px;
	font-size: 15px;
}

#simCards {
	width: 45px;	
	height: 22px;
	font-size: 15px;
}

.phone-container__phone-element {
	display: flex;
}

.phone-container__phone-detail {
	word-wrap: break-word;
	width: 450px;
}

.photo {
	display: block;	
	padding-right: 30px;
}

.phone-container__mobileName {
	text-decoration: none;
	color: #1e90ff;		
	font-weight: 700;
}

.phone-container__mobileName:hover {
	color: #dc133c;
}

#searchPhones {
	background-color: #ff8c00;
	color: #ffffff;
	border-width: 0px;
	width: 180px;
	height: 30px;
	border-radius: 7px;
	cursor: pointer;
}

#searchPhones:hover {
	background-color: #d47500;
}

.phone-container__result-tools {	
	flex-direction: column;
}

.phone-container__toBasket {
	background-color: #42b857;
	color: #ffffff;
	border: solid #42b857 1px;	
	cursor: pointer;	
}

.phone-container__toBasket:hover {
	background-color: #308a40;	
}

summary {
	cursor: pointer;	
}

.phone-container__price {	
	font-weight: 700;
	margin-bottom: 30px;
}

[name="inStock"] {
	background-image: url(../Images/inStock.png);
	background-size: 25px;
	background-repeat: no-repeat;
	font-weight: normal;	
	padding-left: 30px;	
	margin-bottom: 30px;
}

[name="notAvailable"] {	
	font-weight: normal;
	color: #ff0000;		
	margin-bottom: 30px;
}

.phone-container__result_attrs {
	overflow: hidden;
	margin-top: 30px;
	width: 100%;	
}

.phone-container__result_attrs td {
	font-weight: 500;
	font-size: 15px;	
	padding: 5px;	
	width: 200px;	
}