body {
	background-color: #eee8aa;	
}

h1{
	color: #a52a2a
}

.menu {
	background: #262626;		
	height: 40px;
	border-radius: 7px;		
}


ul.menu a {		
	display: flex;
	color: #ffa500;			
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	padding: 10px 15px;
}

ul.menu a: hover {
	color: #ffffff;	
}

ul.menu li {	
	list-style-type: none; 
	display: inline-flex;	
}

ul.menu li:last-child  {	
	float: right;
}

ul.menu li:nth-last-child(2) {
	float: right;
	padding-right: 25px;	
}

[type="checkbox"] {
	transform: scale(1.5);	
}

.phones-in-basket  {	
	border-top: 1px solid;
	margin-top: -15px;		
}

.phones-in-basket table {
	width: 100%;	
	text-align: center;	
	margin-top: 30px;	
	overflow: visible;	
	border-bottom: 1px dotted grey;
}


.phones-in-basket table th{		
	border-bottom: 1px dotted grey;	
	padding-bottom: 10px;
}

.phones-in-basket table td:first-child {
	width: 4%;	
}

.phones-in-basket table td{
	padding-top: 10px;
	padding-bottom: 10px;		
	width: 24%;	
}

.name-and-photo {
	display: flex;
	justify-content: center;
}

#phoneName {
	margin-left: 10px;
	color: #1e90ff;
	text-decoration: none;
}

#count {
	width: 40px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
}

.basket-footer {
	margin-top: 30px;
}

.cost-and-checkout {
	display: flex;
	float: right;
	flex-direction: column;	
	margin-right: 50px;
}

#checkoutButton {
	background-color: #3caf50;
	color: #ffffff;
	border-radius: 7px;
	border-width: 0;
	height: 30px;
	width: 150px;
	font-size: 16px;
	cursor: pointer;
}

#totalCost {
	font-size: 20px;	
}

#goBack {	
	color: #1e90ff;
}

#goBack:hover, #phoneName:hover {	
	color: #dc133c;
}

